.container {width: 1170px !important; padding-left:0px; padding-right:0px}
.col-first-md, .col-first-lg{padding-right:0px !important}
.col-md-4.col-last-md, .col-md-4.col-last-lg{padding-left:0px !important}
.col-mid-md, .col-mid-lg{padding-right:0px !important; padding-left:0px !important}
.banner .slider-content .text-box{top: 30% !important}
ol.bjqs-markers li{display:inline;}
/* .col-md-3{width: 25% !important;} */

.featured-slider{width: 1170px !important}

.Cat-Contents { 
background-image:url(../images/resource-bg.png); 
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(
     src='../images/resource-bg.png', sizingMethod='scale');    
zoom: 1;
filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
filter: alpha(opacity=80);  

}
